/* File: src/App.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0a0a0a;
    /* Màu đen làm nền */
    color: #e1e1e1;
    /* Màu chữ sáng */
    min-height: 100vh;
}

.main-content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}